# About
!README.md
!LICENSE

# Source Control and Continous Integratio
!.gitignore
!.circleci

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
/lib

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
/bin

# SFML
!SFML*

# IDE
.idea/
.vs/
build/
cmake-build-*
